<!doctype html>

<head>
    <link href="styles/angular-material.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="styles/options.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="initial-scale=1" />
    <script src="scripts/common.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-animate.min.js"></script>
    <script src="scripts/angular-aria.min.js"></script>
    <script src="scripts/angular-messages.min.js"></script>
    <script src="scripts/angular-material.min.js"></script>
    <script src="scripts/plugins/plugin.js"></script>
    <script src="scripts/plugins/tab.js"></script>
    <script src="scripts/plugins/media.js"></script>
    <script src="scripts/plugins/bookmark.js"></script>
    <script src="scripts/plugins/navigation.js"></script>
    <script src="scripts/plugins/page.js"></script>
    <script src="scripts/plugins/extension.js"></script>
    <script src="scripts/plugins/query.js"></script>
    <script src="scripts/options.js"></script>
</head>

<body ng-csp ng-app="options" ng-controller="AppController">
    <md-content class="md-padding main-content">
        <h1 class="md-headline">
            Chrome Voice Assistant
        </h1>
        <div layout="column">
            <option-card option="voiceOption" ng-hide="voiceOption.enabled"></option-card>
            <option-card option="hotword" ng-show="voiceOption.enabled"></option-card>
            <option-card option="notifications" ng-show="voiceOption.enabled"></option-card>
            <option-card option="voiceDictation"></option-card>
            <option-card option="shortcut"></option-card>
            <h2>
                Hotwords
            </h2>
            <md-input-container class="hotword-input">
                <input value="Hey Buddy (default)" readonly aria-readonly>
            </md-input-container>
            <md-input-container class="hotword-input">
                <label>Custom hotword</label>
                <input name="customHotword" ng-model="customHotword" ng-change="onCustomHotwordChanged()" minlength="5">
            </md-input-container>
        </div>
        <h2 class="md-headline">
            Supported commands
        </h2>
        <div layout="row" layout-align="center center" layout-wrap>
            <option-plugin flex="50" ng-repeat="plugin in plugins" plugin="plugin"></option-plugin>
        </div>

        <md-divider></md-divider>

        <md-button class="md-primary" href="https://chrome.google.com/webstore/detail/chrome-voice-assistant/aollofiafbblhopkofbfmlmbhbdcblem" layout="column" target="_blank">
            <span>
        <i class="material-icons md-24 primary-icon align-middle">feedback</i> Review / Send feedbacks</span>
        </md-button>
    </md-content>
</body>